

@import url(styles/main.css);
@import url(styles/shortcodes.css);

.no-results.not-found #s { width:88%; } 

body {
	color:#64481d;
	font-size:14px;
	background-color:#000;
}
a {
	color:#64481d;
}
a:hover{
	color:#4b83e8;
}
h1, h2, h3, h4, h5, h6, .post-title a {
	font-weight:normal;
	text-decoration:none;
}
.post-title { 
	margin:10px 0;
}
.post-title a{
	color:#382811;
	font-size:24px;
}
.post-title a:hover{
	color:#4b83e8;
}
#header.container{
	padding:0;
}
.page-title { 
	font-size:50px;
	color:#382811;
}
#header{
	position:relative;
	z-index:99;
}
#logo {
}
#page {
	position:relative;
}
#page .back { 	background:url(../imgs/page.png) center repeat-y; 	position:relative; 	z-index:2; }
@media only screen and (min-width:1024px) { 
	.bottom-left-fire,
	.bottom-right-fire {
		position:absolute;
		bottom:0;
		width:475px;
		height:338px;
		z-index:1;
	}
	.bottom-left-fire { 
		background:url(../imgs/bottom-left-fire.png) no-repeat;
		left:0;
	}
	.bottom-right-fire { 
		background:url(../imgs/bottom-right-fire.png) no-repeat;
		right:0;
	}
	.top-fire {
		position:absolute;
		top:0;
		z-index:1;
	}
	.top-fire { 
		background:url(../imgs/top-fire.png) top no-repeat;
		width:100%;
		height:386px;
		top:0;
	}
	.left-dragon,
	.right-dragon { 
		position:absolute;
		bottom:0;
		z-index:1;
	}
	.right-dragon { 
		width:411px;
		height:598px;
		right:0;
		background:url(../imgs/right-dragon.png) no-repeat;
	}
	.left-dragon { 
		width:582px;
		height:548px;
		background:url(../imgs/left-dragon.png) no-repeat;
		left:0;
	}
	#header .container.top { 
		background:#000;
		width:1000px;
		padding:0 0 6px;
	}
	#header .container.top .bottom-sec {
		display:inline-block;
		width:100%;
		background:url(../imgs/container-top.png) top no-repeat;
	}
	#header .header-block {
		background:url(../imgs/header-block.png) top no-repeat;
		padding-top:50px;
		padding-bottom:53px;
	}
}
.contactform .input,
.department { border-color:#382811; }
/* SEARCH */
#s {
	color:#fff;
	text-transform:lowercase;
	width:198px;
}
#searchsubmit{
	width:30px;
	height:28px;
	float:right;
}
#s {
	height:29px;
}
#content #s{
	width:215px;
}

#header #searchform {
    margin: 63px 0 31px;
    position: relative;
}
#searchform{
	background:#000;
	height:29px;
	border-bottom:1px solid #e2ae61;
}

/* MENUS */
#secondary-menu {
	height:80px;
	margin:44px 0 0;
	position:relative;
}
#secondary-menu > ul > li { 
	margin:20px 0;
}
#secondary-menu > ul > li > a {
	color:#fff;
	font-size:14px;
	padding:0 10px;
	height:40px;
	line-height:40px;
	background:url(../imgs/secmenu-a.png) left no-repeat;
}
#secondary-menu > ul > li:first-child > a {
	background:none;
}
#main-menu {
	margin:0;
	height:82px;
}
#main-menu .menu {
	max-width:700px;
	margin:0 auto;
}
#header .nav-menu .menu > li {
    display: block;
    float: left;
}
#main-menu > ul > li {
	margin:20px 0;
}
#main-menu > ul > li > a {
	color:#fff;
	font-size:20px;
	padding:0 15px 0 25px;
	height:40px;
	line-height:40px;
	background:url(../imgs/mainmenu-a.png) left no-repeat;
}
#main-menu > ul > li:first-child > a { 
	background:none;
}
#main-menu > ul > li > a:hover, #main-menu > ul > li.current-menu-item  > a{
	color:#e2ae61 !important;
}
#secondary-menu .menu ul, #main-menu .menu ul {
	background:#402e13;
	min-width:123px;
	box-shadow:0 0 30px #281c0c inset;
}
#secondary-menu .menu ul a, #main-menu .menu ul  a{
	color:#fff !important;
	padding:10px 15px 10px 25px;
	text-align:left;
	text-transform:none ;
	background:url(../imgs/sub-a.png) 10px center no-repeat;
}
#secondary-menu .menu ul a:hover, #main-menu .menu ul a:hover {
	color:#e5b76c !important;
}


/* SLIDER */
#slider{
	max-width:880px;
	width:100%;
	padding-bottom:45px;
	background:url(../imgs/slider-shadow.png) bottom no-repeat;
}
.slide {
	max-width:880px;
	width:100%;
	margin:0 auto;
	height:368px;
}
.slide-left {
	left:8px;
	height:48px;
	width:48px;
}
.slide-right {
	right:8px;
	height:48px;
	width:48px;
}
.slide-meta { 
	top:19px;
	left:12px;
	bottom:auto;
	height:165px;
	width:464px;
	background:url(../imgs/slide-meta.png);
}
.slide-meta h3 { 
	font-size:60px;
	line-height:60px;
	color:#e2ae61;
}
.slide-meta .desc { 
	color:#fff;
	font-size:20px;
}
.slide-meta .readmore { 
	float:right;
	margin-top:-5px;
	margin-right:-10px;
}
/* SHOWROOM */
.showroom-block {
	max-width:880px;
	width:100%;
	margin:0 auto;
	padding:45px 0 0;
}
.showroom-block .item { 
	text-align:center;
	width:250px;
	color:#64481d;
	background:url(../imgs/showroom-item.png) top no-repeat;
	margin-bottom:0 !important;
}
.showroom-block .item .inner {
	padding:0 25px 25px;
}
.showroom-block .item:first-child {
	margin-left:0;
}
.showroom-block h3 a{
	color:#382811;
	font-size:24px;
	text-decoration:none;
}
.showroom-block h3 a:hover { 
	color:#4c8fff;
	text-decoration:underline;
}
.showroom-block .item .wp-post-image{
	margin-bottom:0;
	margin:0 -25px;
}

/* POSTS */

.post-body div.gallery { clear:both; padding-top:50px }
.contactform input, .contactform select, .contactform textarea{ background:none; }
.department p span{ color:#222838; }
.tagcloud a { background:none; }
#content-body{
	background:url(../imgs/content-body.png) bottom no-repeat;
	padding-bottom:56px;
	position:relative;
	z-index:99;
	margin-top:-53px;
}
.entry {
	position:relative;
	margin-bottom:40px;
}
.post-body{
	padding-bottom:0;
	overflow:hidden;
}
.post-meta {
	font-size:12px;
	color:#4d87e8;
	margin:0;
}
.post-meta a{
	color:#4d87e8;
}
.entry .featured_image{
	border-color:#bfbfbf;
}
#comments{
	padding-right:20px;
}
.readmore, #submit, .post-password-required form input[type="submit"], .contactform input[type="submit"] {
	padding:5px 10px;
	text-decoration:none;
	color:#e0c091;
	background: #4f3818; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f3818 0%, #241a0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f3818), color-stop(100%,#241a0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f3818 0%,#241a0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f3818', endColorstr='#241a0b',GradientType=0 ); /* IE6-9 */
	float:left;
	clear:right;
	z-index:1;
	font-size:14px;
	border:none;
	position:relative;
	text-transform:lowercase;
	margin-top:10px;
}
.readmore:hover, #submit:hover, .post-password-required form input[type="submit"], .contactform input:hover[type="submit"]{
	background: #75bdf3; /* Old browsers */
	background: -moz-linear-gradient(top,  #75bdf3 0%, #3261e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75bdf3), color-stop(100%,#3261e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75bdf3 0%,#3261e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdf3', endColorstr='#3261e2',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
}
.pagination.numeric span, .pagination.numeric a{
	
	padding:5px 10px;
}
body.woocommerce nav.woocommerce-pagination ul li a,
body.woocommerce-page nav.woocommerce-pagination ul li a,
body.woocommerce #content nav.woocommerce-pagination ul li a,
body.woocommerce-page #content nav.woocommerce-pagination ul li a,
body.woocommerce nav.woocommerce-pagination ul li span,
body.woocommerce-page nav.woocommerce-pagination ul li span,
body.woocommerce #content nav.woocommerce-pagination ul li span,
body.woocommerce-page #content nav.woocommerce-pagination ul li span,
.pagination.numeric a,
.pagination.wp a{
	color:#e0c091;
	text-decoration:none;
	padding:3px 13px;
	line-height:24px;
	background: #4f3818; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f3818 0%, #241a0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f3818), color-stop(100%,#241a0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f3818 0%,#241a0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f3818', endColorstr='#241a0b',GradientType=0 ); /* IE6-9 */
	margin:0 7px;
	font-size:16px;
}
body.woocommerce nav.woocommerce-pagination ul li span.current,
body.woocommerce-page nav.woocommerce-pagination ul li span.current,
body.woocommerce #content nav.woocommerce-pagination ul li span.current,
body.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
body.woocommerce nav.woocommerce-pagination ul li a:hover,
body.woocommerce-page nav.woocommerce-pagination ul li a:hover,
body.woocommerce #content nav.woocommerce-pagination ul li a:hover,
body.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
body.woocommerce nav.woocommerce-pagination ul li a:focus,
body.woocommerce-page nav.woocommerce-pagination ul li a:focus,
body.woocommerce #content nav.woocommerce-pagination ul li a:focus,
body.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.pagination.numeric a:hover,
.pagination.wp a:hover,
.pagination.numeric span {
	background: #75bdf3; /* Old browsers */
	background: -moz-linear-gradient(top,  #75bdf3 0%, #3261e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75bdf3), color-stop(100%,#3261e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75bdf3 0%,#3261e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdf3', endColorstr='#3261e2',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
	padding:3px 13px;
	line-height:24px;
	margin:0 7px;
	font-size:16px;
}
.pagination{
	text-align: left;
	padding:10px 0;
}
#container .post-body table th{
	border-bottom:2px solid #382811;
	padding:5px;
}
#container .post-body table td{
	border-bottom:1px solid #382811;
	padding:5px;
}

/* SIDEBAR */

.sidebar h3{
	color:#382811;
	font-size:28px;
	margin:0 0 15px;
}
.sidebar .widget ul li a {
	color:#61451c;
	padding-left:15px;
	background:url(../imgs/content-list.png) left no-repeat;
	text-decoration:none;
}
.sidebar .widget ul li a:hover { 
	text-decoration:underline;
}
.widget_lttabs .scaption {
	color:#e0c091;
	background: #4f3818; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f3818 0%, #241a0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f3818), color-stop(100%,#241a0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f3818 0%,#241a0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f3818', endColorstr='#241a0b',GradientType=0 ); /* IE6-9 */
	padding:5px 15px;
	margin-right:2px;
}
.widget_lttabs .scaption.active, .widget_lttabs .scaption:hover {
	background: #75bdf3; /* Old browsers */
	background: -moz-linear-gradient(top,  #75bdf3 0%, #3261e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75bdf3), color-stop(100%,#3261e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75bdf3 0%,#3261e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdf3', endColorstr='#3261e2',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
}
.lt-sidebar-post .title.with-thumbnail.with-date { width:133px; }
.lt-sidebar-post .title.with-date { width:207px; }
.lt-sidebar-post .title.with-thumbnail { width:176px; }
#content-body .widget, .tab_widget{
	padding:10px 0;
	margin:0 0 60px;
}

/* FOOTER */
#footer{
	color:#fff;
	position:relative;
}
#footer .lt-sidebar-post .date { 
	color:#e5b569;
}
#footer a,
.copyright a {
	color:#fff;
}
#footer .lz-sidebar-post .date { 
	color:#e5b569;
}
#footer a:hover,
.copyright a:hover { 
	color:#e5b569;
}
#footer .container { 
	width:1000px;
	background:url(../imgs/footer.png) top no-repeat #000;
	padding:64px 0 0;
	z-index:9;
}
.widgets .widget ul li a{
	background:url(../imgs/footer-list.png) left no-repeat;
	padding-left:15px;
	text-decoration:none;
}
#footer .widgets h3{
	color:#e5b569;
	font-size:28px;
	margin-top:0;
}
.copyright {
	color:#e5b569;
	position:relative;
	z-index:99;
	text-align:center;
	background:url(../imgs/copyright.png) bottom no-repeat #000;
	padding-bottom:75px;
	max-width:1000px;
	width:100%;
	margin:0 auto;
}
.copyright .container {
	padding:10px 0;
}
.copyright span, .copyright p {
	margin:10px;
}

/*WooCommerce*/ 
.added_to_cart  { clear: left !important; display: block !important; }
.woocommerce a.button.alt, 
.woocommerce-page a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce #content input.button.alt, 
.woocommerce-page #content input.button.alt,
.woocommerce-page #content .products li a.button {
	color:#e0c091 !important;
	padding:5px 10px !important;
	border:none !important;
	text-transform:lowercase !important;
	background: #4f3818; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f3818 0%, #241a0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f3818), color-stop(100%,#241a0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f3818 0%,#241a0b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f3818 0%,#241a0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f3818', endColorstr='#241a0b',GradientType=0 ); /* IE6-9 */
	box-shadow:none !important;
	text-shadow:none !important;
	font-weight:normal !important;
	line-height:normal !important;
	border-radius:0 !important;
}
.woocommerce a.button.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce #content input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #content .products li a.button:hover  {
	background: #75bdf3; /* Old browsers */
	background: -moz-linear-gradient(top,  #75bdf3 0%, #3261e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75bdf3), color-stop(100%,#3261e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75bdf3 0%,#3261e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75bdf3 0%,#3261e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdf3', endColorstr='#3261e2',GradientType=0 ); /* IE6-9 */
	color:#ffffff !important;
	box-shadow:none !important;
	text-shadow:none !important;
}
.widget.woocommerce.widget_product_search #searchsubmit {
	background:#e8bf75 !Important;
	color:#65481d !important;
	float:right;
}
.widget.woocommerce.widget_product_search #s {
	background:#030303 !important;
	color:#fff !Important;
}
.widget.woocommerce.widget_product_search h3 { 
	margin-bottom:30px !Important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background:#6aadf0 !Important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range { 
	background:#422f14 !Important;
}
.woocommerce-page #content-body > #container > #content { 
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {border:none !important;}

@media only screen and (min-width:0) and (max-width:1023px) { 
	.lt-mainmenu-wrapper .back { background:none !Important; }
	.sidebar { width:27.2%; }
	.sidebar.right { margin-left:-30%; }
	#container { width:67% !Important; margin-right:33% !important; }
	.container { width:95% !important; padding:0 2.5% !important; }
	.copyright .container { padding:10px 2.5% !important; }
	.showroom-block .item .wp-post-image { width:100%; height:auto; }
}

/* TABLET */
@media only screen and (min-width:640px) and (max-width:1023px) {
	#footer.container { padding:0; }
	.mobile-menu { border:1px solid #ccc !important; }
	.showroom-block{ padding:0;}
	#main-menu, #secondary-menu { display:none; }
	#header #searchform { position:relative; top:0; right:0; }
	#logo { float:none !important; }
	#page { 	background:url(../imgs/small-back.png) fixed; }
	#content-body { background:none; }
	#footer .container { background-image:none; }
	#footer .lt-sidebar-comment, #footer .widget { margin-bottom:0; padding-bottom:40px; }
	.showroom-block { max-width:100%; }
	.container.top  { background:#000; margin-bottom:50px; }
	#content-body.container { margin-top:0; }
	.showroom-block .item { -moz-background-size: 83%; -webkit-background-size: 83%; -o-background-size: 83%; background-size: 83%; }
}

/* MOBILE */
@media only screen and (min-width:240px) and (max-width:639px) {
	.mobile-menu { border:1px solid #ccc !important; }
	#footer.container {	padding:0; }
	#content-body { width:auto; }
	.showroom-block { width:auto; }
	#header #searchform { margin:0; padding:0 !important; }
	#header #s { width:80% !important; }
	#searchsubmit { float:right; }
	#main-menu, #secondary-menu { display:none; }
	#page { 	background:url(../imgs/small-back.png) fixed; }
	#content-body { background:none; }
	#footer .container { background-image:none; }
	#footer .lt-sidebar-comment, #footer .widget { margin-bottom:0; padding-bottom:40px; }
	.showroom-block { max-width:auto; }
	.container.top  { background:#000; padding-bottom:30px !important; }
	#content-body.container { margin-top:0; }
}
